#podlog {
	width: 370px;
	height: 500px;
    margin: auto;
	-webkit-box-shadow: 1px 1px 50px 2px rgba(34,6,48,0.44); 
	box-shadow: 1px 1px 50px 2px rgba(34,6,48,0.44);
	
}

input[type="text"] {
	border-style: none;
	border-bottom: 1px solid #b721ff;
	width: 270px;
	height: 30px;
	background: #ffffff !important;
	outline: none;
	color: #808080;
	font-family: GothamNarrSSm;
	font-size: 16px;
	margin-top: 190px;
    margin-left: 50px;
}
input[type="password"] {
	border-style: none;
	border-bottom: 1px solid #b721ff;
	width: 270px;
	height: 30px;
	background: #ffffff !important;
	outline: none;
	color: #808080;
	font-family: GothamNarrSSm;
	font-size: 16px;
	margin-top: 10px;
    margin-left: 50px;
}
input[type="submit"]{
	width: 270px;
	height: 30px;
	background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    font-size: 16px;
    padding: 5px 20px;
    color: #fff;
    border: 1px solid none;
    border-radius: 20px;
	cursor: pointer;
	margin-top: 10px;
    margin-left: 50px;
	outline: none;
	font-family: GothamNarrSSm;
	border-style: none;
}
a:link {
	color: #808080;
	font-family: GothamNarrSSm;
	font-size: 18px;
	text-decoration: none;
}
a:visited {
	color: #808080;
	font-family: GothamNarrSSm;
	font-size: 18px;
	text-decoration: none;
}
a:hover {
	color: #b721ff;
	font-family: GothamNarrSSm;
	font-size: 18px;
	text-decoration: none;
}
a {
    margin-left: 97px;
}

@font-face{

font-family: 'GothamNarrSSm';

src: url('fonts/14155.otf');}